{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% if not post %}
        <h2>Post not found<h2>
    {% else %} 
        <div style="margin:50px; background-color:white; width: 600px; height: 350px;">
            <div ><img src="{{ asset('images/index/gallery/' ~ post.image) }}" alt="{{post.title}}"></div>

            <h2>{{post.title}}</h2>
            <p>
            {{post.content}}
            </p>
            <h4>- By {{ post.postUser.name}}</h4>
            <hr>
            <ul >
                <li>{{ post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</li>
            </ul>
        </div>
        <div style=" ">
            {% for recent in recents %}
                {{ include ('partials/_recent_post.html.twig', {'recent': recent}) }}
            {% endfor %}
        </div>
         {{ include ('partials/_form_comment.html.twig') }}
    {% endif %}

{% endblock %}